
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Testing System</title>
</head>
<body>
  <main class="container">
    <div class="bg-light p-5 rounded mt-3">
      <h1>Online Test Management System</h1>
    </div>
    
  </main>
  <div class="container">
      <h3><u>Java Test</u></h3>
      <p class="lead">Attend this online test and evaluate your knowledge in Java</p>
      <a class="btn btn-lg btn-primary" routerLink='/quiz' role="button">Attend Quiz &raquo;</a>
    </div>
</body>
</html>